:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  ;
}

button:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 80%;
  flex-direction: column;
  text-align: center;
}

#footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.cell {
  width: calc(100%/8);
  height: 100%;
  border: 3px solid #fff;
  box-sizing: border-box;
}

.selected {
  background-color: #fff;
}

#board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}